{block #content}

<div class="row">
  <div class="col-md-12">
    <a n:href="default"><i class="fa fa-angle-left"></i> {_'issues.admin.issues.new.back'}</a>
    <div class="page-header">
      <h1 n:block="title">
       {_'issues.admin.issues.new.title'}
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    {control issueForm}
  </div>
</div>
