services:
	moduleManager:
		setup:
			- addModule(Crm\IssuesModule\IssuesModule())

	issuesRepository: Crm\IssuesModule\Repositories\IssuesRepository
	issuePagesRepository: Crm\IssuesModule\Repositories\IssuePagesRepository
	issueSourceFilesRepository: Crm\IssuesModule\Repositories\IssueSourceFilesRepository
	magazinesRepository: Crm\IssuesModule\Repositories\MagazinesRepository
	subscriptionTypeMagazinesRepository: Crm\IssuesModule\Repositories\SubscriptionTypeMagazinesRepository

	- Crm\IssuesModule\Api\IssuesDetailApiHandler
	- Crm\IssuesModule\Api\IssuesListingApiHandler
	- Crm\IssuesModule\Api\MagazineOverviewApiHandler
	- Crm\IssuesModule\Api\MagazinesListingApiHandler
	- Crm\IssuesModule\Commands\CoverFtpUploadCommand
	- Crm\IssuesModule\Commands\ImportCommand
	- Crm\IssuesModule\Commands\PdfConverterCommand
	- Crm\IssuesModule\Commands\SyncFtpIssuesCommand
	- Crm\IssuesModule\Components\SubscriptionTypesWithMagazinesWidget\SubscriptionTypesWithMagazinesWidget
	- Crm\IssuesModule\Forms\IssuesFormFactory
	- Crm\IssuesModule\Forms\MagazineFormFactory
	- Crm\IssuesModule\Models\Pdf\Converter

	filePatternProcessor: Crm\IssuesModule\Models\FilePatternProcessor\FilePatternProcessor

	issuesAdapter: League\Flysystem\Local\LocalFilesystemAdapter('%appDir%/../content/issues')
	issuesFileSystem: League\Flysystem\Filesystem(@issuesAdapter)

	mountManagerConfig:
		setup:
			- mountFilesystem('issues', @issuesFileSystem)
