services:
	moduleManager:
		setup:
			- addModule(Crm\IssuesModule\IssuesModule())

	issuesRepository: Crm\IssuesModule\Repository\IssuesRepository
	issuePagesRepository: Crm\IssuesModule\Repository\IssuePagesRepository
	issueSourceFilesRepository: Crm\IssuesModule\Repository\IssueSourceFilesRepository
	magazinesRepository: Crm\IssuesModule\Repository\MagazinesRepository
	subscriptionTypeMagazinesRepository: Crm\IssuesModule\Repository\SubscriptionTypeMagazinesRepository

	- Crm\IssuesModule\Api\IssuesDetailApiHandler
	- Crm\IssuesModule\Api\IssuesListingApiHandler
	- Crm\IssuesModule\Api\MagazineOverviewApiHandler
	- Crm\IssuesModule\Api\MagazinesListingApiHandler
	- Crm\IssuesModule\Commands\CoverFtpUploadCommand
	- Crm\IssuesModule\Commands\ImportCommand
	- Crm\IssuesModule\Commands\PdfConverterCommand
	- Crm\IssuesModule\Commands\SyncFtpIssuesCommand
	- Crm\IssuesModule\Components\SubscriptionTypesWithMagazinesWidget
	- Crm\IssuesModule\Forms\IssuesFormFactory
	- Crm\IssuesModule\Forms\MagazineFormFactory
	- Crm\IssuesModule\Pdf\Converter

	filePatternProcessor: Crm\IssuesModule\Model\Issue\FilePatternProcessor

	issuesAdapter: League\Flysystem\Local\LocalFilesystemAdapter('%appDir%/../content/issues', null)
	issuesFileSystem: League\Flysystem\Filesystem(@issuesAdapter)

	issuesCoverNewsMuseumAdapter: League\Flysystem\Local\LocalFilesystemAdapter('%appDir%/../content/newsmuseum', null)
	issuesCoverNewsMuseumFileSystem: League\Flysystem\Filesystem(@issuesCoverNewsMuseumAdapter)

	mountManagerConfig:
		setup:
			- mountFilesystem('issues', @issuesFileSystem)
			- mountFilesystem('newsmuseum', @issuesCoverNewsMuseumFileSystem)
