menu:
	issues: Vydání
	magazines: Magazíny
data:
	issues:
		fields:
			issued_at: Datum vydání
			is_published: Publikované
			cover: Obálka
			name: Název
			original_files: Zdrojové soubory
			state: Stav
			identifier: Identifikátor
			magazine: Magazín
		required:
			issued_at: Datum vydání je povinné
		placeholder:
			issued_at: například 13.11.2018
			name: Například 'Vydání 156'
		description:
			original_files: Soubory budou řazené abecedně podle názvu
		values:
			is_published:
				"yes": Publikované
				"no": Skryté
	magazines:
		fields:
			name: Název
			identifier: Identifikátor
			issues: Vydání
			is_default: Přednastavený
		required:
			name: Název je povinný
			identifier: Identifikátor je povinný
		placeholder:
			name: například Časopis život
			identifier: například casopis-zivot
admin:
	issues:
		default:
			title: Vydání
			new: Nové vydání
		new:
			title: Nové vydání
			back: zpět na vydání
		edit:
			title: Uprav vydanie %name%
			header: Uprav vydání
			back: zpět na vydání
		show:
			back: zpět na vydání
			edit: Uprav vydání
			basic_informations: Základní informace
			no_pages: Toto vydání zatím nemá vygenerované žádné zobrazitelné stránky. Generování probíhá automaticky každou minutu.
			pages: Stránky
			issue_size: Velikost čísla
			delete_issue: Smaž vydání se všemi soubory
		messages:
			issue_created: Vydání bylo vytvořené
			issue_updated: Vydání bylo upravené
			issue_deleted: Vydání bylo smazané
			issue_not_found: "Nepodařilo se najít vydání s ID [#%issue_id%]"
	magazines:
		default:
			title: Magazíny
			new: Nový magazín
		new:
			title: Nový magazín
			back: zpět na seznam
		edit:
			title: Uprav magazín
			header: Uprav magazín
			back: zpět na detail
		show:
			edit: Uprav magazín
			back: zpět na seznam
		messages:
			magazine_created: Magazín byl vytvořený
			magazine_updated: Magazín byl upraven

components:
	subscription_types_with_magazines:
		title: Magazíny
		issues: vydání
		add_magazine: Přidej magazín
		remove_magazine: Smazat
		fields:
			magazine:
				title: Magazíny
				required: Magazín je povinný
				placeholder: '-- Vyber magazín'
		error:
			missing_subscription_type_id: Chybí ID typu předplatného. Přidaní magazínu není možné.
			no_magazines_to_add: Žádne magazíny na přidaní.
		messages:
			no_magazines: Tento typ předplatného neobsahuje žádny magazín.
			added: Magazín '%magazine_name%' byl přidan do tohoto typu předplatného.
			removed: Magazín '%magazine_name%' byl odstraněn z tohoto typu předplatného.
